body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    text-align: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Prend toute la largeur de la fenêtre */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
    pointer-events: none;
    z-index: -1;
}

header, footer {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #ffffff;
}

.sommaire {
    text-align: center;
}

.sommaire ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sommaire ul li {
    text-align: left;
    margin: 10px 0;
}

.sommaire ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.sommaire ul li a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

footer p {
    margin-right: 15px;
}

footer button {
    background-color: #8e7d6f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

footer button:hover {
    background-color: #a68a6d;
}
